@charset "UTF-8";
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 22px;
  margin: 0;
}

h2 {
  font-size: 18px;
  margin: 0;
}

p {
  font-size: 16px;
  margin: 0;
}

hr {
  width: 37px;
  height: 2px;
  background-color: #99E2D0;
  margin: 5px 0 13px 0;
  border: none;
}

/*-------------------------------------------------------------------------------------
                                    Breakpoint desktop (grand écran)
-------------------------------------------------------------------------------------*/
@media all and (min-width: 1920px) {
  body > * {
    max-width: 1920px;
    margin: 0 auto;
  }
}

/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint desktop (grand écran)
-------------------------------------------------------------------------------------*/
.search {
  background-color: #F2F2F2;
}

.search-location {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #e5e5e5;
}

.search-location-container-icon {
  width: 15%;
  display: flex;
  justify-content: end;
}

.search-location input {
  margin: 5% 0;
  border: none;
  background: initial;
  font-size: 16px;
  font-weight: 600;
  width: 50%;
  padding-left: 4%;
}

.search-description {
  text-align: center;
}

.search-description h1 {
  font-weight: bold;
  width: 65%;
  margin: 6% auto;
}

.search-description h2 {
  color: #737373;
  font-weight: 400;
}

.search-description-container-button {
  width: 60%;
  margin: auto;
  padding: 5%;
}

.working {
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.working-title {
  width: 80%;
  margin-bottom: 5%;
}

.working-proposal {
  box-shadow: 0 5px 9px 3px rgba(0, 0, 0, 0.15);
  background-color: #F2F2F2;
  display: flex;
  margin-bottom: 8%;
  width: 80%;
  height: 70px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.working-proposal-number {
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  left: -12px;
  top: 33%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
}

.working-proposal-description {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.working-proposal-description-container-icon {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.working-proposal-description-container-icon i {
  color: #a6a6a6;
}

.working-proposal-description h2 {
  font-size: 15px;
  white-space: nowrap;
}

.working-proposal:hover {
  background-color: rgba(147, 86, 220, 0.2);
}

.working-proposal:hover i {
  color: #9356DC;
}

.restaurant {
  width: 100%;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0 7% 0;
}

.restaurant-title {
  width: 90%;
  margin-bottom: 5%;
}

.restaurant-ad {
  width: 90%;
  border-radius: 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  position: relative;
  margin-bottom: 5%;
  box-shadow: 0 3px 6px 5px rgba(0, 0, 0, 0.05);
}

.restaurant-ad img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 180px;
}

.restaurant-ad-new {
  position: absolute;
  background-color: #99E2D0;
  color: #278870;
  padding: 2% 3%;
  right: 7%;
  top: 6%;
}

.restaurant-ad-description {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.restaurant-ad-description h2 {
  white-space: nowrap;
  margin: 7% 0 2% 7%;
}

.restaurant-ad-description p {
  margin: 3% 0 0 7%;
}

.restaurant-ad-description-container-icon {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  color: #a6a6a6;
  font-size: 30px;
  cursor: pointer;
}

.heart:hover, .heart :active {
  opacity: 1;
  background: linear-gradient(-7deg, #9356DC 4%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/*-------------------------------------------------------------------------------------
                                    Breakpoint desktop
-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint desktop
-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------
                                    Breakpoint tablette
-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint tablette
-------------------------------------------------------------------------------------*/
.main {
  width: 100%;
}

.main img {
  width: 100%;
  position: relative;
}

.menu {
  width: 100%;
  background-color: #F2F2F2;
  margin-top: -30px;
  position: relative;
  z-index: 1;
  border-radius: 30px 30px 0 0;
}

.menu-title {
  background-color: #F2F2F2;
  border-radius: 30px 30px 0 0;
  display: flex;
  justify-content: space-between;
  height: 130px;
  font-family: 'shrikhand', sans-serif;
  line-height: 130px;
  width: 94%;
  margin: auto;
}

.menu-title h1 {
  font-size: 40px;
  letter-spacing: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-title-container-icon {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-title-container-icon i {
  color: #a6a6a6;
  font-size: 30px;
  cursor: pointer;
}

.proposal {
  background-color: white;
  border-radius: 20px;
  height: 80px;
  box-sizing: border-box;
  width: 94%;
  padding: 12px 24px 12px 12px;
  margin: 0 auto 15px auto;
  box-shadow: 0 5px 9px 3px rgba(0, 0, 0, 0.15);
}

.proposal-description {
  margin-bottom: 8px;
}

.proposal-description h2 {
  font-size: 23px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.proposal-price {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.proposal-price span {
  font-weight: bold;
}

.proposal-price p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.starter {
  background-color: #F2F2F2;
}

.starter-title {
  text-transform: uppercase;
  margin: 0 0 0 3%;
}

.dishes {
  background-color: #F2F2F2;
}

.dishes-title {
  text-transform: uppercase;
  margin: 13% 0 0 3%;
}

.desserts {
  background-color: #F2F2F2;
}

.desserts-title {
  text-transform: uppercase;
  margin: 13% 0 0 3%;
}

.button-command-container {
  width: 60%;
  margin: auto;
  padding: 10% 0 20% 0;
}

.check-animation {
  display: none;
}

/*-------------------------------------------------------------------------------------
                                    Breakpoint desktop
-------------------------------------------------------------------------------------*/
@media all and (min-width: 1301px) {
  hr {
    margin: 2% 0;
  }
  .menu-title {
    width: 90%;
  }
  .starter,
  .dishes,
  .desserts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  .starter-title,
  .dishes-title,
  .desserts-title {
    width: 100%;
    font-size: 37px;
  }
  .starter-title {
    margin: 0;
  }
  .dishes-title {
    margin: 4% 0 0 0;
  }
  .desserts-title {
    margin: 4% 0 0 0;
  }
  .proposal {
    width: 30%;
  }
  .button-command-container {
    width: 40%;
    padding: 10% 0 12% 0;
  }
}

/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint desktop
-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------
                                    Breakpoint tablette
-------------------------------------------------------------------------------------*/
@media all and (min-width: 769px) and (max-width: 1300px) {
  hr {
    margin: 1% 0;
  }
  .menu-title {
    width: 90%;
  }
  .starter,
  .dishes,
  .desserts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  .starter-title,
  .dishes-title,
  .desserts-title {
    width: 100%;
    font-size: 27px;
  }
  .starter-title {
    margin: 0;
  }
  .dishes-title {
    margin: 4% 0 0 0;
  }
  .desserts-title {
    margin: 4% 0 0 0;
  }
  .proposal {
    width: 45%;
    margin: 0 0 3% 0;
  }
  .button-command-container {
    width: 50%;
    padding: 6% 0 7% 0;
  }
}

/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint tablette
-------------------------------------------------------------------------------------*/
footer {
  background-color: #333333;
  padding: 5%;
  width: 100%;
  box-sizing: border-box;
}

footer > div {
  margin-bottom: 3%;
  display: flex;
}

footer > div h2 {
  font-size: 25px;
  letter-spacing: 2px;
  color: white;
  font-family: 'Shrikhand', sans-serif;
  margin-bottom: 2%;
}

footer > div i {
  color: white;
}

footer > div a {
  color: white;
}

.footer-container-icon {
  width: 7%;
}

/*-------------------------------------------------------------------------------------
                                    Breakpoint desktop
-------------------------------------------------------------------------------------*/
@media all and (min-width: 1301px) {
  footer > div {
    margin-bottom: 2%;
  }
  .footer-container-icon {
    width: 4%;
  }
}

/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint desktop
-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------
                                    Breakpoint tablette
-------------------------------------------------------------------------------------*/
@media all and (min-width: 769px) and (max-width: 1300px) {
  footer > div {
    margin-bottom: 2%;
  }
  .footer-container-icon {
    width: 4%;
  }
}

/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint tablette
-------------------------------------------------------------------------------------*/
#oh-my-food-logo {
  display: flex;
  width: 60%;
  margin: 5% auto;
}

.header-menu {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
}

/*-------------------------------------------------------------------------------------
                                    Breakpoint desktop
-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint desktop
-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------
                                    Breakpoint tablette
-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint tablette
-------------------------------------------------------------------------------------*/
#button-research {
  background: linear-gradient(-7deg, #9356DC 4%, #FF79DA 100%);
  width: 100%;
  height: 45px;
  color: white;
  font-size: 17px;
  border-radius: 25px;
  box-shadow: 0 5px 9px 3px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}

#button-research:hover {
  background: linear-gradient(-7deg, #a16be0 4%, #ff93e1 100%);
  box-shadow: 0 5px 9px 3px rgba(0, 0, 0, 0.3);
}

#button-back {
  background-color: white;
  border: none;
  position: absolute;
  left: 10px;
  cursor: pointer;
}

#button-back i {
  color: black;
  font-size: 20px;
}

/*-------------------------------------------------------------------------------------
                                    Breakpoint desktop
-------------------------------------------------------------------------------------*/
@media all and (min-width: 1301px) {
  #button-back {
    left: 30px;
  }
  #button-back i {
    font-size: 40px;
  }
}

/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint desktop
-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------
                                    Breakpoint tablette
-------------------------------------------------------------------------------------*/
@media all and (min-width: 769px) and (max-width: 1300px) {
  #button-back {
    left: 30px;
  }
  #button-back i {
    font-size: 30px;
  }
}

/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint tablette
-------------------------------------------------------------------------------------*/
