footer {
    background-color: lighten(black, 20%);
    padding: 5%;
    width: 100%;
    box-sizing: border-box;
    
    > div {
        margin-bottom: 3%;
        display: flex;

        h2 {
            font-size: 25px;
            letter-spacing: 2px;
            color: white;
            font-family: 'Shrikhand', sans-serif;
            margin-bottom: 2%;
        }

        i {
            color: white;
        }

        a {
            color: white;
        }
    }
}

.footer-container-icon {
    width: 7%;
}

/*-------------------------------------------------------------------------------------
                                    Breakpoint desktop
-------------------------------------------------------------------------------------*/
@media all and (min-width: 1301px) {
    footer {
        > div {
            margin-bottom: 2%;
        }
    }

    .footer-container-icon {
        width: 4%;
    }
}
/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint desktop
-------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
                                    Breakpoint tablette
-------------------------------------------------------------------------------------*/
@media all and (min-width: 769px) and (max-width: 1300px) {
    footer {
        > div {
            margin-bottom: 2%;
        }
    }

    .footer-container-icon {
        width: 4%;
    }
}
/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint tablette
-------------------------------------------------------------------------------------*/