#oh-my-food-logo {
    display: flex;
    width: 60%;
    margin: 5% auto;
}

.header-menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
}

/*-------------------------------------------------------------------------------------
                                    Breakpoint desktop
-------------------------------------------------------------------------------------*/
@media all and (min-width: 1301px) {
    header {
        width: 30%;
        margin: auto;
    }  
}
/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint desktop
-------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
                                    Breakpoint tablette
-------------------------------------------------------------------------------------*/
@media all and (min-width: 769px) and (max-width: 1300px) {
    header {
        width: 30%;
        margin: auto;
    }
}
/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint tablette
-------------------------------------------------------------------------------------*/