.main {
    width: 100%;

    img {
        width: 100%;
        position: relative;
        height: 400px;
        object-fit: cover;
        object-position: center;
    }
}
.menu {
    width: 100%;
    background-color: $gray;
    margin-top: -30px;
    position: relative;
    z-index: 1;
    //position relative car z-index fonctionne qu'avec les éléments positionnés
    border-radius: 30px 30px 0 0;

    &-title {
        background-color: $gray;
        border-radius: 30px 30px 0 0;
        display: flex;
        justify-content: space-between;
        height: 130px;
        font-family: 'shrikhand', sans-serif;
        line-height: 130px;
        width: 94%;
        margin: auto;
        

        h1 {
            font-size: 40px;
            letter-spacing: 2px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        
        &-container-icon {
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                color: darken($gray, 30%);
                font-size: 30px;
                cursor: pointer;
            }
        }
    }
}

.proposal {
    background-color: white;
    border-radius: 20px;
    height: 80px;
    box-sizing: border-box;
    width: 94%;
    padding: 12px 24px 12px 12px;
    margin: 0 auto 15px auto;
    box-shadow: 0 5px 9px 3px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    position: relative;
    animation: opacity 2s;

    &-hover {
        width: 100%;
    }

    &-description {
        margin-bottom: 8px;

        h2 {
            font-size: 23px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &-price {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        
        span {
            font-weight: bold;
            transition-duration: 500ms;
        }

        p{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap; 
        }
    }
}

/*ajout délai pour chaque proposal, les uns après les autres
- 0.5s pour que le premier élément n'est pas de délai*/
@for $i from 1 through $totalChildren {
    .proposal:nth-child(#{$i}) {
        animation-delay: $i * 0.5s - 0.5s;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.proposal:hover {
    .check-animation {
        width: 80px;
        height: 80px;
        border-radius: 0 20px 20px 0;
        right: 0;
        
        i {
            transform: rotate(360deg);
        }
    }

    span {
        margin-right: 70px;
    }
}

.starter {
    background-color: $gray;

    &-title {
        text-transform: uppercase;
        margin: 0 0 0 3%;
    }
}

.dishes,
.desserts {
    background-color: $gray;

    &-title {
        text-transform: uppercase;
        margin: 13% 0 0 3%;
    }
}

.button-command-container {
    width: 60%;
    margin: auto;
    padding: 10% 0 20% 0;
}

.check-animation {
    background-color: $third-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: -12px 0 0 0;
    border-radius: 0 20px 20px 0;
    position: absolute;
    right: -80px;
    transition-duration: 750ms;

    i {
        color: white;
        font-size: 20px;
        transition: transform 500ms 250ms;
        transform: rotate(0deg);
    }
}

/*-------------------------------------------------------------------------------------
                                    Breakpoint desktop
-------------------------------------------------------------------------------------*/
@media all and (min-width: 1301px) {
    hr {
        margin: 4% 0;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;

        &-title {
            width: 90%;
        }
    }

    .starter,
    .dishes,
    .desserts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        margin: auto;

        &-title {
            width: 90%;
            font-size: 37px;
        }
    }

    .starter-title {
        margin: 0;
    }

    .dishes-title {
        margin: 4% 0 0 0;
    }

    .desserts-title {
        margin: 4% 0 0 0;
    }

    .proposal {
        width: 100%;
    }

    .button-command-container {
        width: 40%;
        padding: 4% 0;
    }
}
/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint desktop
-------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
                                    Breakpoint tablette
-------------------------------------------------------------------------------------*/
@media all and (min-width: 769px) and (max-width: 1300px) {
    hr {
        margin: 1% 0;
    }

    .menu-title {
        width: 90%;
    }

    .starter,
    .dishes,
    .desserts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: auto;

        &-title {
            width: 100%;
            font-size: 27px;
        }
    }

    .starter-title {
        margin: 0;
    }

    .dishes-title {
        margin: 4% 0 0 0;
    }

    .desserts-title {
        margin: 4% 0 0 0;
    }

    .proposal {
        width: 45%;
        margin: 0 0 3% 0;
    }

    .button-command-container {
        width: 40%;
        padding: 4% 0;
    }
}
/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint tablette
-------------------------------------------------------------------------------------*/