.search {
    background-color: $gray;

    &-location {
        display: flex;
        justify-content: center;
        align-items: baseline;
        background-color: darken($gray, 5%);

        &-container {
            width: 300px;
            display: flex;

            &-icon {
                width: 100px;
                display: flex;
                justify-content: end;
                align-items: center;
            }

            input {
                margin: 5% 0;
                border: none;
                background: initial;
                font-size: 16px;
                font-weight: 600;
                width: 200px;
                padding-left: 4%;
            }
        }
    }

    &-description {
        text-align: center;

        h1 {
            font-weight: bold;
            width: 65%;
            margin: 6% auto;
        }

        h2 {
            color: darken($gray, 50%);
            font-weight: 400;
        }

        &-container-button {
            width: 60%;
            margin: auto;
            padding: 5%;
        }
    }
}

.working {
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        width: 80%;
        margin-bottom: 5%;

    }

    &-proposal {
        box-shadow: 0 5px 9px 3px rgba(0, 0, 0, 0.15);
        background-color: $gray;
        display: flex;
        margin-bottom: 8%;
        width: 80%;
        height: 70px;
        border-radius: 20px;
        position: relative;
        cursor: pointer;

        &-number {
            background-color: $primary-color;
            border-radius: 50%;
            position: absolute;
            left: -12px;
            top: 33%;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            color: white;
        }

        &-description {
            display: flex;
            align-items: baseline;
            width: 100%;

            &-container-icon {
                display: flex;
                width: 60px;
                align-items: center;
                justify-content: center;
                height: 100%;

                i {
                    color: darken($gray, 30%);
                    padding-left: 10px;
                }
            }

            h2 {
                font-size: 15px;
                white-space: nowrap;
            }
        }

        &:hover {
            background-color: rgba($primary-color, 0.2);
            i {
                color: $primary-color;
            }
        }
    }
}

.restaurant {
    width: 100%;
    background-color: $gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0 7% 0;

    &-title {
        width: 90%;
        margin-bottom: 5%;
    }

    &-ad {
        width: 90%;
        border-radius: 20px;
        height: 250px;
        display: flex;
        flex-direction: column;
        background-color: white;
        overflow: hidden;
        position: relative;
        margin-bottom: 5%;
        box-shadow: 0 3px 6px 5px rgba(0, 0, 0, 0.05);

        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            height: 180px;
        }

        &-new {
            position: absolute;
            background-color: $third-color;
            color: darken($third-color, 40%);
            padding: 2% 3%;
            right: 7%;
            top: 6%;
        }

        &-description {
            display: flex;
            justify-content: space-between;
            height: 70px;

            h2 {
                white-space: nowrap;
                margin: 7% 0 2% 7%;
            }

            p {
                margin: 3% 0 0 7%;
            }

            &-container-icon {
                width: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.heart {
    color: darken($gray, 30%);
    font-size: 30px;
    cursor: pointer;

    &:hover, :active {
        opacity: 1;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}

/*-------------------------------------------------------------------------------------
                                    Breakpoint desktop
-------------------------------------------------------------------------------------*/
@media all and (min-width: 1301px) {
    .search {
    
        &-description {
    
            h1 {
                margin: 2% auto;
            }
    
            &-container-button {
                width: 40%;
                padding: 3%;
            }
        }
    }
    
    .working {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5% 0;

        &-title {
            margin-left: 5%;
            margin-bottom: 3%;
        }

        &-proposal {
            width: 30%;
            margin: auto;
        }
    }

    .restaurant {
        flex-direction: initial;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 5% 0 3% 0;
    
        &-ad {
            width: 22%;
    
            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                height: 180px;
            }
    
            &-new {
                position: absolute;
                background-color: $third-color;
                color: darken($third-color, 40%);
                padding: 2% 3%;
                right: 7%;
                top: 6%;
            }
    
            &-description {
                display: flex;
                justify-content: space-between;
                height: 70px;
    
                h2 {
                    white-space: nowrap;
                    margin: 7% 0 2% 7%;
                }
    
                p {
                    margin: 3% 0 0 7%;
                }
    
                &-container-icon {
                    width: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint desktop
-------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
                                    Breakpoint tablette
-------------------------------------------------------------------------------------*/
@media all and (min-width: 769px) and (max-width: 1300px) {
    .search {
    
        &-description {
    
            h1 {
                margin: 2% auto;
            }
    
            &-container-button {
                width: 40%;
                padding: 3%;
            }
        }
    }

    .working {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        margin: 5% 0;

        > div {
            margin: 0 auto 5% auto;
        }
    
        & :nth-child(2){
            grid-row: 2;
        }

        & :nth-child(3) {
            grid-row: 3;
            grid-column: 2 / 3;
        }

        & :last-child {
            grid-row: 4;
            grid-column: 3 / 3;
        }

        &-proposal {
            &-description {

                h2 {
                    font-size: 12px;
                }

                &-container-icon {
                    
                }
            }
        }
    }

    .restaurant {
        flex-direction: initial;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 5% 0;

        &-title {

        }
    
        &-ad {
            width: 45%;
            height: 360px;

            img {
                height: 280px;
            }
        }
    }
}
/*-------------------------------------------------------------------------------------
                                    FIN Breakpoint tablette
-------------------------------------------------------------------------------------*/